{% extends "layout.html" %}
{% block content %}
<div class="generate-showcase">
    
    <!-- Modal -->
    
    <div class="modal-content">
      <div class="modal-body">
          <div id="holder"></div>
          <div id="loading-indicator">
            <div class="spinner"></div>
            
          </div>
          <div class="generated-header">
            <div class="generated-header"><a href="/download/generated_presentation.pptx" style="color: white !important;">Click para descargar tu presentación</a>
            </div>
          </div>
      </div>
    </div>
    
    </div>

<!-- Modal -->



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock content %}